@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  min-height: 100vh;
  color: rgb(228 228 231);
  background-color: rgb(10, 10, 10);
  font-size: 18px;
}
body::before {
  z-index: -1;
  content: "";
  position: fixed;
  top: -50%;
  left: -50%;
  bottom: 0;
  right: 0;
  filter: blur(30px);
  background: radial-gradient(circle at center, rgb(24 24 27), rgb(0, 0, 0));
}
.overlay {
  --color-gradient-1: #7d7aff80;
  --color-gradient-2: #2121e280;
  --color-gradient-3: #fa313180;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
      at 71% 77%,
      var(--color-gradient-1) 0,
      transparent 21%
    ),
    radial-gradient(at 36% 47%, var(--color-gradient-3) 0, transparent 50%),
    radial-gradient(at 45% 51%, var(--color-gradient-1) 0, transparent 53%),
    radial-gradient(at 73% 44%, var(--color-gradient-2) 0, transparent 54%),
    radial-gradient(at 24% 10%, var(--color-gradient-2) 0, transparent 40%),
    radial-gradient(at 76% 46%, var(--color-gradient-1) 0, transparent 50%);

  filter: blur(44px);
  z-index: -1;
  opacity: 0.3;
}
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: var(--font-oswald);
  }
}

.skeleton {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.3);
}

.skeleton::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.25) 25%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: skeleton 1.5s infinite;
  content: "";
}

@keyframes skeleton {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@layer components {
  .btn-primary {
    @apply text-center uppercase transition-all ease-in duration-300 bg-[200%_auto] text-[white] shadow-[0_0_3px_#eee] block m-2.5 px-[45px] py-[15px] rounded-[10px] hover:bg-right;
    background-image: linear-gradient(
      to right,
      #de6161 0%,
      #6f22a5 51%,
      #de6161 100%
    );
  }
  .btn-copy {
    @apply group-hover:opacity-100 group-hover:brightness-200 text-left opacity-70  transition-all ease-in duration-300;
  }
  .text {
    @apply font-poppins text-sm md:text-xl lg:text-2xl text-primary;
  }
  .opacity-effect {
    @apply opacity-50 hover:opacity-100 transition-all ease-in duration-200;
  }
  .gradient-box {
    position: relative;
    padding: 15px;
    margin: 5px;
    display: inline-block;
  }

  .gradient-box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding: 3px; /* control the border thickness */
    background: linear-gradient(
      118deg,
      rgba(211, 7, 7, 1) 0%,
      rgba(186, 114, 17, 1) 43%,
      rgb(39, 24, 255) 100%
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
}

.image-card::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    rgba(200, 10, 10, 0) 30%,
    rgba(0, 0, 0, 0.8108149808995864) 100%
  );
}
